<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="css/complaint.css">
</head>

<body>
    <a href="/home"><button class="top-left-button">Home</button></a>
    <a href="/logout"><button class="top-right-button">Logout</button></a>
    <div class="wrapper">
        <h2>Register Complaint</h2>


        <form action="/complaints" method="post">
            <div class="input-box">
                <input type="text" placeholder="Enter your name" required name="name">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Enter your email" required name='email'>
            </div>
            <div class="input-box">
                <input type="text" placeholder="phone number" required name="mobile">
            </div>
            <div class="input-box">
                <input type="text" placeholder="address" required name=address>
            </div>
            <div class="input-box_radio">
               <p>Choose the Department for your complaint</p>

                <input type="radio" id="option1" name="radio" value="Police">
                <label for="option1">Police</label>
                <input type="radio" id="option2" name="radio" value="Municipality">
                <label for="option2">Municipality</label>
                <input type="radio" id="option3" name="radio" value="Electricity">
                <label for="option3">Electricity</label>
            </div>
                <p class="description">Description</p>
                <textarea rows="7" cols="132" name="description">The cat was playing in the garden.</textarea>
                <div class="input-box_file">
                    <label for="file">Upload Image:</label>
                    <!-- <input type="file" id="file" name="file" accept="image/*"> -->
                    <a href="/upload"><button type="button" class="btn-color">Upload here</button></a>
                </div>
            <div class="loc">
                <div class="location-find">
                    <p class="result" id="map">Current Location  </p>

                </div>
                <input type="text" placeholder="location" required name=location>
                <button class="btn-color">Get Current Location</button>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Submit">
            </div>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="script/map.js"></script>
    </div>
</body>
</html>