<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <a href="/home"><button class="top-button left">Home</button></a>
    <a href="/logout"><button class="top-button right">Logout</button></a>

    <div class="heading">
        <h1> Complaint Details</h1>
    </div>
    <div class="container">
        <div class="info">
            <p><strong>Name:</strong> Niket Ralebhat </p>
            <p><strong>Email:</strong> harshgupta.dpn@gmail.com</p>
            <p><strong>Phone Number:</strong> 9548204422</p>
            <p><strong>Address:</strong> M/S Babloo Bangle Store Dak Banglow pili kothi gali no</p>
            <p><strong>Compalint Id:</strong> 23.2179497:77.4082899</p>
            <p><strong>Description:</strong> The cat was playing in the garden.</p>
            <p><strong>Added Images:</strong></p>
            <img src="img/pothole.jpg" alt="">
            <img src="img/pothole.jpg" alt="">
            <br>
            <label for="agree">
                <input type="checkbox" id="agree" name="agreement" required>
            Complaint Acknowledged            </label>
            <br>
                <a href="/acknowledgementMunicipal"><button class="submit">Submit</button></a>
        </div>

    </div>

</body>

</html>