<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
        body {

            background-image: url("css/IMG-20231104-WA0022.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 20px;
            background-color: rgba(255,255,255);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .top-left-button {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
    background-color: #144B53;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.8s ease;
    color: white;
        }
        .top-left-button:hover {
    background-color: #208291;
}
    </style>
</head>

<body>
    <div class="container">
        <h2>Complaint Submitted Successfully to Selected Department!!!</h2>
        <a href="/home"><button class="top-left-button">Home</button></a>

    </div>
</body>

</html>